<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/headFragment :: head">
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <h2 class="text-center">
        <th:block th:if="${book.id == null}">Save book</th:block>
        <th:block th:unless="${book.id == null}">Edit book</th:block>
    </h2>


    <form id="book" th:action="${book.id == null} ? '/admin/save' : '/admin/edit'" method="post">
        <th:block th:if="${book.id != null}">
            <input type="hidden" name="id" th:value="${book.id}">
        </th:block>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-6">
                <input id="name" name="name" type="text" class="form-control" th:value="${book.name}" size="50"
                       maxlength="100" required>
                <!--<small class="form-text text-danger collapse" th:classappend="${BooknameError != null} ? 'show' : ''" th:text="${BooknameError}"></small>-->
            </div>
        </div>

        <div class="form-group row">
            <label for="bookcase" class="col-sm-2 col-form-label">Bookcase</label>
            <div class="col-sm-2">
                <input id="bookcase" name="bookcase" class="form-control" type="number" th:value="${book.bookcase}"
                       required>
            </div>
            <label for="bookshelf" class="col-sm-2 col-form-label">Shelf</label>
            <div class="col-sm-2">
                <input id="bookshelf" name="bookshelf" class="form-control" type="number" th:value="${book.bookshelf}"
                       required>
            </div>
        </div>

        <th:block th:if="${book.id != null}">
            <div class="form-group row">
                <div class="col-sm-8">
                    <label class="col-form-label">Authors:</label>
                    <div th:unless="${book.authors == null}">
                <span class="font-weight-bold" th:each="author : ${#strings.arraySplit(book.authors, ',')}"
                      th:with="author=${#strings.trim(author)}">
                    <span class="text-nowrap">
                    <th:block th:text="${author}"></th:block>
                    <a th:href="@{/admin/book/{bookId}/author/delete/{author}(bookId=${book.id}, author=${author})}">
                        <img th:src="@{/img/cross.png}">
                    </a>
                        </span>
                </span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    <label class="col-form-label">Attributes:</label>
                    <div th:unless="${book.attributes == null}">
                <span class="font-weight-bold" th:each="attribute : ${#strings.arraySplit(book.attributes, ',')}"
                      th:with="attribute=${#strings.trim(attribute)}">
                    <span class="text-nowrap">
                    <th:block th:text="${attribute}"></th:block>
                    <a th:href="@{/admin/book/{bookId}/attribute/delete/{attribute}(bookId=${book.id}, attribute=${attribute})}">
                        <img th:src="@{/img/cross.png}">
                    </a>
                        </span>
                </span>
                    </div>
                </div>
            </div>
        </th:block>

        <input type="submit" class="btn btn-success" th:if="${book.id == null}" value="Save book">
        <input type="submit" class="btn btn-success" th:unless="${book.id == null}" value="Edit book">
    </form>
    <div th:unless="${book.id == null}">
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-info mt-3 mb-3" type="button" data-toggle="collapse" data-target="#author"
                        aria-expanded="false" aria-controls="author">
                    Add author
                </button>
                <div class="collapse" id="author">
                    <form class="form-inline" th:action="@{/admin/book/{bookId}/author/save(bookId=${book.id})}"
                          method="post">
                        <div class="form-group">
                            <input class="form-control mr-3" type="text" name="name" maxlength="255" required>
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-info mt-3 mb-3" type="button" data-toggle="collapse" data-target="#attribute"
                        aria-expanded="false" aria-controls="attribute">
                    Add attribute
                </button>
                <div class="collapse" id="attribute">
                    <form class="form-inline" th:action="@{/admin/book/{bookId}/attribute/save(bookId=${book.id})}"
                          method="post">
                        <div class="form-group">
                            <input class="form-control mr-3" type="text" name="name" maxlength="255" required>
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>